body{
    background-color:beige
}

h1,
.h5{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: none;
}


.h5{
    font-size: 12px;
    font-weight: 100;
    background: none;
}

li{
    font-size: 14px;
    font-weight: 100;
}

.imageMain,
.image{
    display: block;
    margin: auto;
    width: 300px;
    height:auto;
}

.image{
    width: 400px;
    
}

.h1IngredientSteps{
    text-align: left;
}

.ul{
    text-align: center;
    border-style:solid;
    display: auto;
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
}